@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.recharts-wrapper {
  font-family: inherit !important;
}